@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@300&display=swap");
@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,100&display=swap");

body {
  background-color: black;
  padding: 5px;
  overflow-x: hidden;
}
// HEADER STYLING
#header {
  div {
    ul {
      list-style-type: none;
    }
  }
  a {
    text-decoration: none !important;
    color: $border-color;
    font-size: 1rem;
    justify-content: right;
    align-items: center;
    padding: 1rem 1.5rem;
    background-color: black;
    text-shadow: 1px 1px 2px rgb(107, 100, 100), 0 0 0.2em rgb(199, 83, 25);
    span {
      color: $font-color;
      font-size: 2.5rem;
      text-shadow: 1px 1px 2px rgb(252, 6, 6), 0 0 0.2em rgb(252, 87, 10);
    }
  }
  .navbar-nav ul a:hover {
    border-bottom: 2px solid $font-color;
    color: $font-color;
    text-shadow: 1px 1px 2px rgb(230, 166, 137);
    transform: scale(1.2);
  }
}
.navbar {
  background-color: black !important;
}
.navbar-toggler {
  background-color: $font-color !important;
}
// HEADER STYLING ENDS

// ABOUT STYLING STARTS
.about {
  position: relative;
  width: 100%;
  .banque {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity:0.8;
    background:linear-gradient(transparent, rgb(66, 62, 62));
    width: 100%;
    height: 75vh;
    top: 25rem;
    right: 10rem;
    margin: auto;
    padding: 2rem;
  }
  ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 2.5rem;
    list-style: none;
    li {
      padding: 1rem;
    }
  }
  .name {
    position: absolute;
    bottom: 50%;
    left: 30%;
    a {
      text-decoration: none;
      text-shadow: 1px 1px 2px rgb(252, 6, 6), 0 0 0.2em rgb(252, 87, 10);
    }
    color: $font-color;
    font-size: $font-size;
    width: 50%;
  }
  a {
    color: $font-color;
  }
}
// TRANSITION OF THE NAME IN ABOUT
#rekha {
  transform: translate(1370px);
}
.about:hover #rekha {
  transition: all 1s ease-in;
  transform: translate(0);
}
// TRANSITION OF THE NAME ENDS

// ABOUT STYLING ENDS

//HOME PAGE SETTINGS ENDS

// CONTACT STYLING STARTS
.contact {
  color: $border-color;
  margin: auto;
  font-size: $font-size;

  h1 {
    color: $border-color;
    text-align: center;
  }
}
.contact,
.contact-container {
  @include flex_container;
  flex-direction: column;
  
}
.contact-container{
  box-shadow: 5px 5px 5px rgb(192, 168, 153);
}
.contact h1 {
  padding-top: 50px;
}
.contact-container {
  border: 2px solid $border-color;
  padding: 20px;
  margin: 30px;
  width: 75%;
  p {
    text-align: left;
    padding-bottom: 2rem;
    span {
      color: $font-color;
    }
  }
  .contact-icon {
    @include flex_container;
    a {
      margin: 1rem;
      color: $font-color;
    }
  }
}

// CONTACT STYLING ENDS

// SKILLS TAB STYLING STARTS

.skills-container {
  @include flex_container;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10rem auto;

  img {
    text-decoration: none;
    color: $font-color;
    border-bottom: 0.2px solid $border-color;
    width: 100%;
    height: 100%;
  }
}
.skills-container img:hover {
  transform: scale(1.3);
  transition: all 0.3s ease-out;
  box-shadow: 20px 20px 30px #ddba93, 
            -30px -30px 50px #e79f41;
}

// SKILLS TAB STYLING ENDS

// PROJECTS TAB STYLING STARTS

.projects-container {
  text-align: center;
  margin: auto;
  table {
    width: 100%;
    color: $border-color;
    box-shadow: 10px 5px 5px rgb(179, 173, 169);
  }
  th {
    color: $font-color;
  }
  th,
  td {
    text-align: center;
    border: 1px solid $border-color;
    padding: 1rem;
    font-size: $font-size;
    font-family: "Barlow Condensed", sans-serif;
  }
  td {
    text-align: left;
    word-break: break-all;
  }
  td:hover{
    transform:scale(1.2);
    background-color: rgb(170, 161, 161);
    color:white;
  }
  
  .proj {
    list-style-type: decimal;
    margin: auto;
    padding: 2rem;
    li {
      text-align: left;
      margin: auto;
      padding: 1rem;
    }
  }
}
// PROJECTS TAB STYLING ENDS

//FOOTER STYLING STARTS
.footer a {
  border: 2px solid $font-color;
  border-radius: 10px;
  background-color: $font-color;
  color: black;
  position: fixed;
  bottom: 2rem;
  right: 5rem;
  text-decoration: none;
  font-weight: 500;
}
footer a:hover {
  background:linear-gradient(transparent, $font-color);
  transform: scale(1.2);
}
////FOOTER STYLING ENDS

@media screen and (min-width:768px)
{
  table{
    flex-direction:column;
  }
}